Repository microsoftgraph/msgraph-sdk-dotnet-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/previewBuild.yml, pipelines/validatePR.yml

pipelines/previewBuild.yml:
  pool:
    name: Hosted Windows 2019 with VS2019
    demands:
    - msbuild
    - vstest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  ...

pipelines/validatePR.yml:
  pool:
    name: Hosted Windows 2019 with VS2019
    demands:
    - msbuild
    - vstest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  ...

Fix pipeline and update release notes
  pipelines/validatePR.yml
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix merge errors
  src/Microsoft.Graph.Core/Requests/Upload/UploadResponseHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Upload/UploadResponseHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Drain response for all results of retry handler
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/Middleware/RetryHandler.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

move draining response for loop and exception
  src/Microsoft.Graph.Core/Requests/Middleware/RetryHandler.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Drain response content when shouldretry (#223)
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/Middleware/RetryHandler.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Update RetryHandler.cs
  src/Microsoft.Graph.Core/Requests/Middleware/RetryHandler.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

update csproj to include symbols
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

add custom dotnet pack step
  pipelines/previewBuild.yml
Due: none

continue using msbuild, pass the symbol arguments
  pipelines/previewBuild.yml
Due: none

remove old comment
  pipelines/previewBuild.yml
Due: none

enable symbols in production build
  pipelines/productionBuild.yml
Due: none

modify nuget package version extractor to account for snupkg
  scripts/GetNugetPackageVersion.ps1
Due: none

reenable expensive tasks
  pipelines/previewBuild.yml
Due: none

Add source link to enable debugging of our NuGet package (#228)
  pipelines/previewBuild.yml
  pipelines/productionBuild.yml
  scripts/GetNugetPackageVersion.ps1
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

change debug type to portable
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

initial commit
  docs/logging-requests.md
Due: none

Add tracing info
  docs/logging-requests.md
Due: none

Serialize DateTimeoffset to ISO 8601-1:2019 format strings
  src/Microsoft.Graph.Core/Serialization/DateTimeOffsetConverter.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Add more tests
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/validatePR.yml

Update docs/logging-requests.md
  docs/logging-requests.md
Due: none

Provide clarity on the origin of 'Sdk' in code samples
  docs/logging-requests.md
Due: none

Adds more tests with non zero offsets
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/validatePR.yml

Fix typo
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/validatePR.yml

Added improvements to the logging handler guidance.
  docs/logging-requests.md
Due: none

Fix missing word
  docs/logging-requests.md
Due: none

Fix derivedtype converter serialization with AdditionalData
  src/Microsoft.Graph.Core/Serialization/DerivedTypeConverter.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Merge pull request #221 from AlexandreArpin/alexandrearpin/issue-214
  pipelines/validatePR.yml
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/Middleware/RedirectHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockRedirectHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/RedirectHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Merge pull request #136 from danespinosa/dev
  src/Microsoft.Graph.Core/Requests/BaseRequest.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Merge pull request #63 from tony-xia/typo-in-variable-name
  src/Microsoft.Graph.Core/Exceptions/ErrorConstants.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadResponseHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Upload/UploadResponseHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Merge pull request #233 from microsoftgraph/andrueastman/loggingHandler
  docs/logging-requests.md
Due: none

Merge pull request #235 from microsoftgraph/andrueastman/loggingHandler
  docs/logging-requests.md
Due: none

Update System.Text.Json dependency to fix camelCasing bug
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/EnumTypeWithFlags.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Merge pull request #230 from microsoftgraph/zengin/portable-pdbs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix for retry handler
  src/Microsoft.Graph.Core/Requests/Middleware/Options/RetryHandlerOption.cs
  src/Microsoft.Graph.Core/Requests/Middleware/RetryHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/Options/RetrytHandlerOptionTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/RetryHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Remove the catching of KeyNotFoundException
  src/Microsoft.Graph.Core/Serialization/DerivedTypeConverter.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Adds tests. Adds JsonIgnore support to derived type converter
  src/Microsoft.Graph.Core/Serialization/DerivedTypeConverter.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/DateTestClass.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix deserailization of timeofday with leading zeros
  src/Microsoft.Graph.Core/Serialization/TimeOfDayConverter.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/TimeOfDayConverterTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Add comment
  src/Microsoft.Graph.Core/Serialization/TimeOfDayConverter.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Initial tests
  src/Microsoft.Graph.Core/CoreConstants.cs
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockUserEventsCollectionPage.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockUserEventsCollectionRequest.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Path conditions:
  pipelines/previewBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/validatePR.yml: any file but: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
