Repository microsoftgraph/msgraph-sdk-dotnet-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/previewBuild.yml, pipelines/validatePR.yml

Path conditions:
  pipelines/previewBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/validatePR.yml: any file but: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml

Update Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Add `IBaseRequestBuilder` interface to `BaseRequestBuilder` class
  src/Microsoft.Graph.Core/Requests/BaseRequestBuilder.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Compression Handler Header Handling (#123)
  scripts/IncrementPreviewVersion.ps1
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
  src/Microsoft.Graph.Core/Requests/Middleware/CompressionHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/HttpProviderTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/CompressionHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Add `IBaseRequestBuilder` interface to `BaseRequestBuilder` class (#128)
  src/Microsoft.Graph.Core/Requests/BaseRequestBuilder.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Update Microsoft.Graph.Core.csproj (#129)
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Use new service connection
  pipelines/previewBuild.yml
  pipelines/productionBuild.yml
Due: none

Use new service connection (#130)
  pipelines/previewBuild.yml
  pipelines/productionBuild.yml
Due: none

Release 1.22 IBaseRequestBuilder (#131)
  pipelines/previewBuild.yml
  pipelines/productionBuild.yml
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/BaseRequestBuilder.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fixes deserialization of OData primitive types
  src/Microsoft.Graph.Core/Exceptions/ErrorConstants.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Serialization/Serializer.cs
  src/Microsoft.Graph.Core/Serialization/TypeExtensions.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Use intermediate response object
  src/Microsoft.Graph.Core/Exceptions/ErrorConstants.cs
  src/Microsoft.Graph.Core/Models/ODataMethodBooleanResponse.cs
  src/Microsoft.Graph.Core/Models/ODataMethodInt32Response.cs
  src/Microsoft.Graph.Core/Models/ODataMethodStringResponse.cs
  src/Microsoft.Graph.Core/Serialization/Serializer.cs
  src/Microsoft.Graph.Core/Serialization/TypeExtensions.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Update BaseRequest.cs
  src/Microsoft.Graph.Core/Requests/BaseRequest.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Add support for OData int64 response (long) new file: src/Microsoft.Graph.Core/Models/ODataMethodInt64Response.cs
  src/Microsoft.Graph.Core/Models/ODataMethodInt64Response.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Removed tabs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Models/ODataMethodBooleanResponse.cs
  src/Microsoft.Graph.Core/Models/ODataMethodInt32Response.cs
  src/Microsoft.Graph.Core/Models/ODataMethodInt64Response.cs
  src/Microsoft.Graph.Core/Models/ODataMethodStringResponse.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Parameterize tests
  src/Microsoft.Graph.Core/Models/ODataMethodInt64Response.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Set test ref to 3.*, remove tabs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
Due: pipelines/validatePR.yml

remove unused using
  src/Microsoft.Graph.Core/Serialization/Serializer.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fixes deserialization of OData primitive types (#135)
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Models/ODataMethodBooleanResponse.cs
  src/Microsoft.Graph.Core/Models/ODataMethodInt32Response.cs
  src/Microsoft.Graph.Core/Models/ODataMethodInt64Response.cs
  src/Microsoft.Graph.Core/Models/ODataMethodStringResponse.cs
  src/Microsoft.Graph.Core/Serialization/Serializer.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

1.22 release (#140)
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Models/ODataMethodBooleanResponse.cs
  src/Microsoft.Graph.Core/Models/ODataMethodInt32Response.cs
  src/Microsoft.Graph.Core/Models/ODataMethodInt64Response.cs
  src/Microsoft.Graph.Core/Models/ODataMethodStringResponse.cs
  src/Microsoft.Graph.Core/Serialization/Serializer.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Update productionBuild.yml for Azure Pipelines
  pipelines/productionBuild.yml
Due: none

Revert "1.22 release (#140)"
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Models/ODataMethodBooleanResponse.cs
  src/Microsoft.Graph.Core/Models/ODataMethodInt32Response.cs
  src/Microsoft.Graph.Core/Models/ODataMethodInt64Response.cs
  src/Microsoft.Graph.Core/Models/ODataMethodStringResponse.cs
  src/Microsoft.Graph.Core/Serialization/Serializer.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fixed signing connected service name
  pipelines/productionBuild.yml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Create dependabot.yml (#146)
  .github/dependabot.yml
Due: none

corrected DefaultMaxSliceSize value
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix exception thrown when not specifying slice size
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/LargeFileUploadTaskTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Update csproj
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix indentation
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix DefaultMaxSliceSize in LargeFileUpload task (#159)
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/LargeFileUploadTaskTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix for NullReference exception thrown when contentType is empty
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/HttpProvider.cs
  src/Microsoft.Graph.Core/Requests/SimpleHttpProvider.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/HttpProviderTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/SimpleHttpProviderTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix for NullReference exception thrown when contentType is empty (#164)
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/HttpProvider.cs
  src/Microsoft.Graph.Core/Requests/SimpleHttpProvider.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/HttpProviderTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/SimpleHttpProviderTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Add support for content type with parameters
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/BaseRequest.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/BaseRequestTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Add support for content type with parameters (#169)
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/BaseRequest.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/BaseRequestTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Add CAE support to the core library
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/GraphRequestContext.cs
  src/Microsoft.Graph.Core/Requests/Middleware/AuthenticationHandler.cs
  src/Microsoft.Graph.Core/Requests/Middleware/Options/CaeAuthenticationProviderOption.cs
  src/Microsoft.Graph.Core/Requests/Middleware/Options/ICaeAuthenticationProviderOption.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/AuthenticationHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Make the CAEAuthprovider class internal
  src/Microsoft.Graph.Core/Requests/Middleware/Options/CaeAuthenticationProviderOption.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/AuthenticationHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Add null check for authenticationProviderOption
  src/Microsoft.Graph.Core/Requests/Middleware/Options/CaeAuthenticationProviderOption.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Add Continuous Access Evaluation (CAE) support (#173)
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/GraphRequestContext.cs
  src/Microsoft.Graph.Core/Requests/Middleware/AuthenticationHandler.cs
  src/Microsoft.Graph.Core/Requests/Middleware/Options/CaeAuthenticationProviderOption.cs
  src/Microsoft.Graph.Core/Requests/Middleware/Options/ICaeAuthenticationProviderOption.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/AuthenticationHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Set parameter string
  src/Microsoft.Graph.Core/Requests/BaseFunctionMethodRequestBuilder.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/BaseRequestBuilderTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ComposableFunctionRequestBuilder0.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ComposableFunctionRequestBuilder1.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Merge pull request #101 from microsoftgraph/jobala-patch-1 [skip ci]
  src/Microsoft.Graph.Core/Requests/Middleware/AuthenticationHandler.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml
