Repository microsoftgraph/msgraph-sdk-dotnet-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

pipelines/previewBuild.yml:
  pool:
    name: Hosted Windows 2019 with VS2019
    demands:
    - msbuild
    - vstest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  ...

pipelines/productionBuild.yml:
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: PowerShell@2
    displayName: Validate updated version
  ...

pipelines/validatePR.yml:
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: PowerShell@2
    displayName: Validate updated version
  ...

Bump abstractions and create release.
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Fixes upload task
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Bumps version and release notes
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

- Fixes inability to set OverallTimeout when the WinHttpHandler is used by the client.
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Resolves merge conflicts
  .github/dependabot.yml
  .github/fabricbot.json
  src/Microsoft.Graph.Core/Extensions/IDecryptableContentExtensions.cs
  src/Microsoft.Graph.Core/Requests/DeltaResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/GraphResponse{T}.cs
  src/Microsoft.Graph.Core/Requests/ResponseHandler.cs
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/AsyncMonitorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/LargeFileUploadTaskTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Fix bad merge
  src/Microsoft.Graph.Core/Requests/DeltaResponseHandler.cs
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Release 3.0
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Resovles PR comments
  src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadSessionRequestBuilder.cs
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/BaseClient.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/BatchRequestBuilderTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Cleans up error handling code.
  src/Microsoft.Graph.Core/Exceptions/AuthenticationException.cs
  src/Microsoft.Graph.Core/Exceptions/ClientException.cs
  src/Microsoft.Graph.Core/Exceptions/Error.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorDetail.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorResponse.cs
  src/Microsoft.Graph.Core/Exceptions/ServiceException.cs
  src/Microsoft.Graph.Core/Models/BatchRequestStep.cs
  src/Microsoft.Graph.Core/Requests/AsyncMonitor.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  src/Microsoft.Graph.Core/Requests/ResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadResponseHandler.cs
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Exceptions/ErrorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Exceptions/ServiceExceptionTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/AsyncMonitorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchResponseContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Upload/UploadResponseHandlerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Fix commented out code.
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchResponseContentTests.cs
Due: pipelines/validatePR.yml

PR review feedback
  src/Microsoft.Graph.Core/Exceptions/ClientException.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Adds error mapping as constructor variable
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

feat: Proper batching support implemented
  src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentCollection.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContentCollection.cs
  src/Microsoft.Graph.Core/Requests/Content/KeyedBatchResponseContent.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

fix: Some build warnings fixed
  src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContentCollection.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

chore: Code cleanup
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentCollection.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContentCollection.cs
  src/Microsoft.Graph.Core/Requests/Content/KeyedBatchResponseContent.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update version and release notes
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

- adds auto merge workflow
  .github/workflows/auto-merge-dependabot.yml
Due: none

Create projectbot.yml
  .github/workflows/projectbot.yml
Due: none

Model had deltaLink
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventsDeltaResponse.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Throw on empty stream
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/LargeFileUploadTaskTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update dependencies and fix workflows.
  .github/dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Cleanup
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update logging-requests.md
  docs/logging-requests.md
Due: none

feat: Allow checking statuscodes of batch response without parsing step body
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentCollection.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContentCollection.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Added ArgumentNullException for empty client in BatchCollection
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentCollection.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update core version
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

feat: New batch for failed requests
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentCollection.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Test CI pipelines
  pipelines/previewBuild.yml
  pipelines/productionBuild.yml
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Include error information in request header instances
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Include graph.microsoft-ppe.com
  src/Microsoft.Graph.Core/Authentication/AzureIdentityAccessTokenProvider.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update CODEOWNERS with msgraph-devx-dotnet-write
  .github/CODEOWNERS
Due: none

Update CODEOWNERS with msgraph-devx-dotnet-write (#660)
  .github/CODEOWNERS
Due: none

- add branch protection policy file
  .github/policies/msgraph-sdk-dotnet-core-branch-protection.yml
Due: none

- update branch policy
  .github/policies/msgraph-sdk-dotnet-core-branch-protection.yml
Due: none

Update validatePullRequest.yml
  .github/workflows/validatePullRequest.yml
Due: none

- add conversation resolution policy requirement
  .github/policies/msgraph-sdk-dotnet-core-branch-protection.yml
Due: none

- add branch protection policy file (#666)
  .github/policies/msgraph-sdk-dotnet-core-branch-protection.yml
Due: none

Path conditions:
  pipelines/previewBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/productionBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/validatePR.yml: any file but: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
