Repository microsoftgraph/msgraph-sdk-dotnet-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Path conditions:
  pipelines/previewBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/productionBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/validatePR.yml: any file but: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml

ci: downgrade window runner
  .github/workflows/validatePullRequest.yml
Due: none

revert validate pr changes
  .github/workflows/validatePullRequest.yml
Due: none

enable merge groups in validatePullRequest
  .github/workflows/validatePullRequest.yml
Due: none

fix(tooling): update all outdated PackageReferences
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

fix(security): upgrade .NET SDK to 10.0.202
  .github/workflows/sonarcloud.yml
  .github/workflows/validatePullRequest.yml
  global.json
  pipelines/productionBuild.yml
  src/Microsoft.Graph.Core/global.json
  tests/Microsoft.Graph.DotnetCore.Core.Trimming/global.json
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Revert Microsoft.SourceLink.GitHub to 8.0.0 (10.x incompatible with net462/netstandard2.0)
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

fix(ci): add .NET 6 runtime to sonarcloud workflow
  .github/workflows/sonarcloud.yml
Due: none

fix: downgrade coverlet packages to 6.0.4 for net6.0 compatibility
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
Due: pipelines/validatePR.yml

feat!: update target frameworks to netstandard2.0, netstandard2.1, net462, net8.0, net10.0
  .github/workflows/sonarcloud.yml
  .github/workflows/validatePullRequest.yml
  .gitignore
  Directory.Build.props
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Helpers/ReadOnlySubStreamTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentStepsTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/LargeFileUploadTaskTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Trimming/Microsoft.Graph.DotnetCore.Core.Trimming.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Fix MAUI build: update targets from net6.0 to net10.0 and remove deprecated macos
  .github/workflows/validatePullRequest.yml
  Directory.Build.props
  pipelines/productionBuild.yml
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

ci: update GitHub Actions runner to windows-latest
  .github/workflows/validatePullRequest.yml
Due: none

ci: update ADO pipeline to use .NET 8 + 10 (drop .NET 6)
  pipelines/productionBuild.yml
Due: none

feat!: upgrade Kiota to 2.0.0 and support packages
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/AsyncMonitor.cs
  src/Microsoft.Graph.Core/Requests/DeltaResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/ResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadResponseHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

docs: upgrade guide from v3 to v4
  docs/upgrade-guide-v3-to-v4.md
Due: none

ci(build): only run release pipeline on tagged commits
  pipelines/productionBuild.yml
Due: none

cd: deploy only on tag
  pipelines/productionBuild.yml
Due: none

fix(docs): commit to trigger rp
  README.md
Due: none

fix(docs): commit to trigger rp (#1053)
  README.md
Due: none

chore: add DevOps build pipeline for S360 security vulnerability scanning
  .azurepipelines/build.yml
Due: pipelines/validatePR.yml

chore: update build pipeline schedule to daily
  .azurepipelines/build.yml
Due: pipelines/validatePR.yml

chore: enable SDL security scanning in build pipeline
  .azurepipelines/build.yml
Due: pipelines/validatePR.yml

chore: add DevOps build pipeline for S360 security vulnerability scanning (#1056)
  .azurepipelines/build.yml
Due: pipelines/validatePR.yml

ci: rename daily ci pipeline file and folder to standard
  .azure-pipelines/daily-ci-build.yml
Due: pipelines/validatePR.yml

ci: rename daily ci pipeline file and folder to standard (#1057)
  .azure-pipelines/daily-ci-build.yml
Due: pipelines/validatePR.yml

fix: add missing image property to daily CI pool config
  .azure-pipelines/daily-ci-build.yml
Due: pipelines/validatePR.yml

fix: switch daily CI pool to Windows to avoid network isolation
  .azure-pipelines/daily-ci-build.yml
Due: pipelines/validatePR.yml

fix: use Azure Artifacts feed to bypass network isolation
  .azure-pipelines/daily-ci-build.yml
  nuget.config
Due: pipelines/validatePR.yml

fix: install both .NET 8 and .NET 10 SDKs in daily CI
  .azure-pipelines/daily-ci-build.yml
Due: pipelines/validatePR.yml

refactor: generate nuget.config inline instead of committing to repo
  .azure-pipelines/daily-ci-build.yml
  nuget.config
Due: pipelines/validatePR.yml

refactor: use NUGET_FEED_URI variable for feed URL
  .azure-pipelines/daily-ci-build.yml
Due: pipelines/validatePR.yml

fix: remove inline NUGET_FEED_URI variable, set via ADO UI
  .azure-pipelines/daily-ci-build.yml
Due: pipelines/validatePR.yml

fix: daily CI pipeline configuration (#1063)
  .azure-pipelines/daily-ci-build.yml
Due: pipelines/validatePR.yml

Look up published version via CFS feed instead of api.nuget.org (CFSClean)
  pipelines/productionBuild.yml
  scripts/ValidateUpdatedNugetVersion.ps1
Due: none

ci: update daily build schedule
  .azure-pipelines/daily-ci-build.yml
Due: pipelines/validatePR.yml

Look up published version via CFS feed instead of api.nuget.org (CFSClean) (#1086)
  pipelines/productionBuild.yml
  scripts/ValidateUpdatedNugetVersion.ps1
Due: none

ci: update daily build schedule (#1087)
  .azure-pipelines/daily-ci-build.yml
Due: pipelines/validatePR.yml

refactor: take HashSet for statusCodesToTreatAsSuccess per review
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentCollection.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

ci: update ESRP code signing to v6
  pipelines/productionBuild.yml
Due: none

ci: update ESRP code signing to v6 (#1088)
  pipelines/productionBuild.yml
Due: none
