Repository microsoftgraph/msgraph-sdk-dotnet-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Path conditions:
  pipelines/previewBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/productionBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/validatePR.yml: any file but: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml

Update .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Chore: Add issue templates (#848)
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/01-sdk-bug.yml
  .github/ISSUE_TEMPLATE/02-sdk-feature-request.yml
  .github/ISSUE_TEMPLATE/03-blank-issue.md
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Updates base version for generation updates
  CHANGELOG.md
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

ci: adds test groups to dependabot configuration
  .github/dependabot.yml
Due: none

fix: use directories for dependabot configuration
  .github/dependabot.yml
Due: none

Add release-please.yml under .github/workflows folder
  .github/workflows/release-please.yml
Due: none

Moved file to the correct folder
  .github/release-please.yml
Due: none

Added configuration for release please action
  .github/workflows/release-please.yml
Due: none

Added release please manifest
  .release-please-manifest.json
Due: pipelines/validatePR.yml

Deleted manually generated release manifest file
  .release-please-manifest.json
Due: pipelines/validatePR.yml

chore: bootstrap releases for path: .
  .release-please-manifest.json
  release-please-config.json
Due: pipelines/validatePR.yml

Added release-please yml files
  .github/release-please.yml
  .github/workflows/release-please.yml
Due: none

Updated release version
  .release-please-manifest.json
Due: pipelines/validatePR.yml

Updated release-please manifest config file
  release-please-config.json
Due: pipelines/validatePR.yml

Updated contributing with commit message format instructions
  CONTRIBUTING.md
Due: none

Removed version bump script step
  .release-please-manifest.json
  pipelines/productionBuild.yml
Due: pipelines/validatePR.yml

Added sha for the last release PR
  release-please-config.json
Due: pipelines/validatePR.yml

Update release-please-config.json
  release-please-config.json
Due: pipelines/validatePR.yml

Reenabled validate update version step
  pipelines/productionBuild.yml
Due: none

Deleted unnecessary workflow file
  .github/workflows/release-please.yml
Due: none

Added comments release-please comments on csproj file
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Removed README.md entry because it lacks version info.
  release-please-config.json
Due: pipelines/validatePR.yml

Align compression changes
  CHANGELOG.md
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Cleanup out of date code
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

chore: removes extraneous appveyor file
  appveyor.yml
Due: none

fix: failing unit tests due to missing enum members attributes
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/EnumType.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/EnumTypeWithFlags.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestBodyType.cs
Due: pipelines/validatePR.yml

fix: adds condition to validate version step
  pipelines/productionBuild.yml
Due: none

ci: upgrades esrp sign tasks
  pipelines/productionBuild.yml
Due: none

Follow up to core CAE
  CHANGELOG.md
  src/Microsoft.Graph.Core/Authentication/AzureIdentityAccessTokenProvider.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

move release type to simple
  release-please-config.json
Due: pipelines/validatePR.yml

ci: removes branch protection rule for old feature branch
  .github/policies/msgraph-sdk-dotnet-core-branch-protection.yml
Due: none

fix: updates dependencies dependabot forgot
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

fix: misalignment with RP config version
  .release-please-manifest.json
Due: pipelines/validatePR.yml

fix: package name
  release-please-config.json
Due: pipelines/validatePR.yml

fix: start sha for release please fix: remove v in tag from configuration
  release-please-config.json
Due: pipelines/validatePR.yml

fix: missing constructor for CAE
  src/Microsoft.Graph.Core/Authentication/AzureIdentityAuthenticationProvider.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Cleanup branch protection rules and branch alignement
  .github/policies/msgraph-sdk-dotnet-core-branch-protection.yml
  .github/release-please.yml
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/project-auto-add.yml
  .github/workflows/validatePullRequest.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  docs/contributions.md
  pipelines/productionBuild.yml
  scripts/GetLatestCommitSHA.ps1
  scripts/IncrementMinorVersion.ps1
  scripts/IncrementPreviewVersion.ps1
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update changlelog url
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml
