Repository microsoftgraph/msgraph-sdk-dotnet-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/previewBuild.yml, pipelines/validatePR.yml

Path conditions:
  pipelines/previewBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/validatePR.yml: any file but: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml

Update csproj
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Addressed PR review feedback
  src/Microsoft.Graph.Core/Authentication/TokenCredentialAuthProvider.cs
  src/Microsoft.Graph.Core/Authentication/TokenCredentials/IntegratedWindowsTokenCredential.cs
  src/Microsoft.Graph.Core/Exceptions/AuthenticationException.cs
  src/Microsoft.Graph.Core/Extensions/TokenCredentialExtensions.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fixed typo
  src/Microsoft.Graph.Core/Extensions/BaseRequestExtensions.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

TokenCredential Support (#95)
  pipelines/validatePR.yml
  src/Microsoft.Graph.Core/AuthConstants.cs
  src/Microsoft.Graph.Core/Authentication/MsalAuthenticationProviderOption.cs
  src/Microsoft.Graph.Core/Authentication/TokenCredentialAuthProvider.cs
  src/Microsoft.Graph.Core/Authentication/TokenCredentials/IntegratedWindowsTokenCredential.cs
  src/Microsoft.Graph.Core/Exceptions/AuthenticationException.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorConstants.cs
  src/Microsoft.Graph.Core/Extensions/BaseRequestExtensions.cs
  src/Microsoft.Graph.Core/Extensions/HttpRequestMessageExtensions.cs
  src/Microsoft.Graph.Core/Extensions/TokenCredentialExtensions.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/BaseClient.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Authentication/IntegrateWindowsTokenCredentialTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Authentication/TokenCredentialAuthProviderTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Extensions/BaseRequestExtensionsTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockTokenCredential.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/BaseClientTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Update previewBuild.yml for Azure Pipelines
  pipelines/previewBuild.yml
Due: none

Update previewBuild.yml for Azure Pipelines (#96)
  pipelines/previewBuild.yml
Due: none

Working version of System.Text.Json with the batch code
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/BatchRequest.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Authentication/IntegrateWindowsTokenCredentialTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchResponseContentTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Update style usage
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Add NuGet install so the image uses the latest
  pipelines/previewBuild.yml
Due: none

Bumps up MSAL version
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Batch Requests with System.Text.Json (#97)
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/BatchRequest.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Authentication/IntegrateWindowsTokenCredentialTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchResponseContentTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Support native plaform Http handlers for Xamarin.Mac
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/HttpProviderTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Support JSON array of primitives
  src/Microsoft.Graph.Core/Requests/DeltaResponseHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/ResponseHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix typo
  src/Microsoft.Graph.Core/Requests/Middleware/AuthenticationHandler.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Update Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

[skip ci] Set release notes, set patch version
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

re-Enable testing from pipeline, disable long running retry handler test
  pipelines/previewBuild.yml
  pipelines/productionBuild.yml
  pipelines/validatePR.yml
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/RetryHandlerTests.cs
Due: pipelines/validatePR.yml

Add general support for System.Text.Json
  src/Microsoft.Graph.Core/Exceptions/Error.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorDetail.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorResponse.cs
  src/Microsoft.Graph.Core/Helpers/ExtractSelectHelper.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Models/AsyncOperationStatus.cs
  src/Microsoft.Graph.Core/Models/Date.cs
  src/Microsoft.Graph.Core/Models/Duration.cs
  src/Microsoft.Graph.Core/Models/ReferenceRequestBody.cs
  src/Microsoft.Graph.Core/Models/TimeOfDay.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadResponseHandler.cs
  src/Microsoft.Graph.Core/Serialization/DateConverter.cs
  src/Microsoft.Graph.Core/Serialization/DateTimeOffsetConverter.cs
  src/Microsoft.Graph.Core/Serialization/DerivedTypeConverter.cs
  src/Microsoft.Graph.Core/Serialization/DurationConverter.cs
  src/Microsoft.Graph.Core/Serialization/EnumConverter.cs
  src/Microsoft.Graph.Core/Serialization/InterfaceConverter.cs
  src/Microsoft.Graph.Core/Serialization/InterfaceConverterAttribute.cs
  src/Microsoft.Graph.Core/Serialization/Serializer.cs
  src/Microsoft.Graph.Core/Serialization/TimeOfDayConverter.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Exceptions/ErrorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Helpers/ExtractSelectHelperTest.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchResponseContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/ResponseHandlerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Upload/UploadResponseHandlerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/DateConverterTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/AbstractClass.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/AbstractEntityType.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ClassWithJson.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/CollectionPageInstance.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/DateTestClass.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/DerivedTypeClass.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/EnumType.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ICollectionPageInstance.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/NoDefaultConstructor.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix tests
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/validatePR.yml

PR review changes
  src/Microsoft.Graph.Core/Exceptions/ErrorConstants.cs
  src/Microsoft.Graph.Core/Serialization/DateTimeOffsetConverter.cs
  src/Microsoft.Graph.Core/Serialization/InterfaceConverterAttribute.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Exceptions/ErrorTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Attempt to change hosted pool for PR check
  pipelines/previewBuild.yml
  pipelines/productionBuild.yml
  pipelines/validatePR.yml
Due: none

Add general support for System.Text.Json (#104)
  pipelines/previewBuild.yml
  pipelines/productionBuild.yml
  pipelines/validatePR.yml
  src/Microsoft.Graph.Core/Exceptions/Error.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorConstants.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorDetail.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorResponse.cs
  src/Microsoft.Graph.Core/Helpers/ExtractSelectHelper.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Models/AsyncOperationStatus.cs
  src/Microsoft.Graph.Core/Models/Date.cs
  src/Microsoft.Graph.Core/Models/Duration.cs
  src/Microsoft.Graph.Core/Models/ReferenceRequestBody.cs
  src/Microsoft.Graph.Core/Models/TimeOfDay.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadResponseHandler.cs
  src/Microsoft.Graph.Core/Serialization/DateTimeOffsetConverter.cs
  src/Microsoft.Graph.Core/Serialization/DerivedTypeConverter.cs
  src/Microsoft.Graph.Core/Serialization/DurationConverter.cs
  src/Microsoft.Graph.Core/Serialization/EnumConverter.cs
  src/Microsoft.Graph.Core/Serialization/InterfaceConverter.cs
  src/Microsoft.Graph.Core/Serialization/InterfaceConverterAttribute.cs
  src/Microsoft.Graph.Core/Serialization/Serializer.cs
  src/Microsoft.Graph.Core/Serialization/TimeOfDayConverter.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Exceptions/ErrorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Helpers/ExtractSelectHelperTest.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchResponseContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/ResponseHandlerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Upload/UploadResponseHandlerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/DateConverterTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/AbstractClass.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/AbstractEntityType.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ClassWithJson.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/CollectionPageInstance.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/DateTestClass.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/DerivedTypeClass.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/EnumType.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ICollectionPageInstance.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/NoDefaultConstructor.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Updated test task
  pipelines/validatePR.yml
Due: none

Update to target 3.1
  pipelines/validatePR.yml
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
Due: pipelines/validatePR.yml

Update to target 3.1
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
Due: pipelines/validatePR.yml

Remove NetStandardImplicitPackageVersion, PackageTargetFallback, RuntimeFrameworkVersion
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
Due: pipelines/validatePR.yml

Remove hanging quote to fix folder matching
  pipelines/validatePR.yml
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Refactor Delta ResponseHandler
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/DeltaResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadResponseHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchResponseContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/RetryHandlerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/ResponseHandlerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Upload/UploadResponseHandlerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Upload/UploadSliceRequestTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/LargeFileUploadTaskTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/ITestEventDeltaCollectionPage.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestAttendee.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestBodyType.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestDateTimeTimeZone.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestDrive.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestDriveItem.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEmailAddress.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEvent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventDeltaCollectionPage.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventDeltaCollectionResponse.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventDeltaRequest.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestItemBody.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestNotebook.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestRecipient.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestUser.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Enable running tests on builds
  pipelines/previewBuild.yml
  pipelines/productionBuild.yml
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
Due: pipelines/validatePR.yml

Enable running tests on builds (#106)
  pipelines/previewBuild.yml
  pipelines/productionBuild.yml
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
Due: pipelines/validatePR.yml

Enable test runs
  pipelines/previewBuild.yml
  pipelines/productionBuild.yml
  pipelines/validatePR.yml
Due: none
