Repository microsoftgraph/msgraph-sdk-dotnet-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Path conditions:
  pipelines/previewBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/productionBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/validatePR.yml: any file but: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml

chore: update initial branch policy settings
  .github/policies/msgraph-sdk-dotnet-core-branch-protection.yml
Due: none

Updates package icon
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Fix next link loop on delta request
  src/Microsoft.Graph.Core/Exceptions/ServiceException.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Bumps version and validates
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/BaseClientTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Fixes a bug with newbactch requests
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentCollection.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Helpers/UrlHelperTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Adds support for sending non json batch messages
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentCollection.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/ms-logo.png
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Address PR comments
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update comments
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

- bumps java version for sonarcloud to stay on supported version
  .github/workflows/validatePullRequest.yml
Due: none

Adds reference to multipart library for downstream generation
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Bump abstractions dependency
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Fix test after upstream changes
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
Due: pipelines/validatePR.yml

Handles wierdly cased properties
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Models/UploadSession.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Review feedback
  src/Microsoft.Graph.Core/Models/UploadSession.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

chore: enable codeql
  .github/workflows/codeql.yml
Due: none

chore: update branch protection rules
  .github/policies/msgraph-sdk-dotnet-core-branch-protection.yml
Due: none

Revert "chore: update branch protection rules"
  .github/policies/msgraph-sdk-dotnet-core-branch-protection.yml
Due: none

Revert "chore: enable codeql"
  .github/workflows/codeql.yml
Due: none

remove redundant CodeQL
  .github/policies/msgraph-sdk-dotnet-core-branch-protection.yml
  .github/workflows/codeql.yml
Due: none

Fix typos in `LargeFileUploadTask`
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

- replaces usage of deprecated method
  src/Microsoft.Graph.Core/Requests/Upload/UploadSliceRequestBuilder.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

- refactors async monitor to remove dependency on reflection
  src/Microsoft.Graph.Core/Requests/AsyncMonitor.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/AsyncMonitorTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

- enables trimming
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

- removes dependency to STJ in custom handlers
  src/Microsoft.Graph.Core/Requests/DeltaResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/ResponseHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/ResponseHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

- reduces usage of reflection further
  src/Microsoft.Graph.Core/Requests/DeltaResponseHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/ResponseHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

- bumps kiota dependencies
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

- bumps version
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

- bumps serialization json version
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Fix failing tests
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/LargeFileUploadTaskTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
Due: pipelines/validatePR.yml

Improve error information from pageiteroator
  src/Microsoft.Graph.Core/Exceptions/ErrorConstants.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Use serilization helper methods
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
Due: pipelines/validatePR.yml

Fix code scanning suggestions
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
Due: pipelines/validatePR.yml

Adds string comparer
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

- adds grouping for kiota dependencies
  .github/dependabot.yml
Due: none

Bumps version and release notes
  global.json
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Fix action
  .github/workflows/validatePullRequest.yml
Due: none

Drops cloneasync method.
  src/Microsoft.Graph.Core/Extensions/HttpRequestMessageExtensions.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Extensions/HttpRequestMessageExtensionsTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Bump http library version
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml
