Repository microsoftgraph/msgraph-sdk-dotnet-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Path conditions:
  pipelines/previewBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/productionBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/validatePR.yml: any file but: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml

Update README.md
  README.md
Due: none

add option to manually set requestId on AddBatchRequestStepAsync
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentCollection.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

fix: Fixing code scanning alert on AAD issuer validation
  src/Microsoft.Graph.Core/Extensions/ITokenValidableExtension.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

docs: fixes missing changelog entry due to commit format
  CHANGELOG.md
Due: pipelines/validatePR.yml

ci: fixing double tagging and GH releases
  pipelines/productionBuild.yml
Due: none

fix: encoded batch request URI issue
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

fix: Retain insertion order of batch request steps
  .gitignore
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Make string comparison tests platform agnostic
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Use custom dictionary structure
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentCollection.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentSteps.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentStepsTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Apply suggestions from code review
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentSteps.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Add missing import
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentSteps.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

fix: corrects async suffixes where wrongly used
  src/Microsoft.Graph.Core/Extensions/ITokenValidableExtension.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/DeltaResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/ResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadSessionRequestBuilder.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadSliceRequestBuilder.cs
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Upload/UploadResponseHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

ci: setup sonarcloud
  .github/workflows/sonarcloud.yml
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
Due: pipelines/validatePR.yml

pr review feedback
  .github/workflows/sonarcloud.yml
Due: none

chore: cleanup usage of obsolete members and async suffixes in test project.
  tests/Microsoft.Graph.DotnetCore.Core.Test/Extensions/IDecryptableContentExtensionsTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockCompressedContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/AsyncMonitorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/BatchRequestBuilderTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchResponseContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/TelemetryHandlerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/ResponseHandlerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Upload/UploadResponseHandlerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/LargeFileUploadTaskTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
Due: pipelines/validatePR.yml

cleanup with comment
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/BatchRequestBuilderTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
Due: pipelines/validatePR.yml

fix: resolve trimming warnings in project
  .github/policies/msgraph-sdk-dotnet-core-branch-protection.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/validatePullRequest.yml
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockUploadSessionWithoutInterface.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/LargeFileUploadTaskTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Trimming/Microsoft.Graph.DotnetCore.Core.Trimming.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Trimming/Program.cs
  tests/Microsoft.Graph.DotnetCore.Core.Trimming/global.json
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

ci: fix failing deploy after trimming project addition.
  pipelines/productionBuild.yml
Due: none

fix: resolved handling of larger batch request message
  src/Microsoft.Graph.Core/Exceptions/ErrorConstants.cs
  src/Microsoft.Graph.Core/Extensions/IParseNodeExtensions.cs
  src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/BatchRequestBuilderTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

cleanup a bunch of unused constants
  src/Microsoft.Graph.Core/Exceptions/ErrorConstants.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

pr review feedback.
  src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
  src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

resolve compile error.
  src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

chore: removes redundant check
  src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

pass cancellation token
  src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

fix: moves parse async out of the condition since it always accepts a cancellation token
  src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

fix: adds missing cancellation token parameter
  src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Create SECURITY.md
  SECURITY.md
Due: pipelines/validatePR.yml

chore: remove unused usings
  src/Microsoft.Graph.Core/Extensions/HttpRequestMessageExtensions.cs
  src/Microsoft.Graph.Core/Extensions/IDecryptableContentExtensions.cs
  src/Microsoft.Graph.Core/Properties/AssemblyInfo.cs
  src/Microsoft.Graph.Core/Requests/AsyncMonitor.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContentCollection.cs
  src/Microsoft.Graph.Core/Requests/DeltaResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
  src/Microsoft.Graph.Core/Requests/GraphRequestContext.cs
  src/Microsoft.Graph.Core/Requests/GraphResponse{T}.cs
  src/Microsoft.Graph.Core/Requests/ResponseHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Helpers/ReadOnlySubStreamTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/BaseClient.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Properties/AssemblyInfo.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/AsyncMonitorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/ResponseHandlerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/DateTestClass.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update README sample
  README.md
Due: none

feat: Add create() overloads to GraphClientFactory that enable requests to be authenticated
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Bump Kiota dependencies
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

fix build issues
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Add tests
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockAccessTokenProvider.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Fix format issues
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockAccessTokenProvider.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
Due: pipelines/validatePR.yml

cleanup entry in changelog
  CHANGELOG.md
Due: pipelines/validatePR.yml

fix trimming warning
  tests/Microsoft.Graph.DotnetCore.Core.Trimming/Microsoft.Graph.DotnetCore.Core.Trimming.csproj
Due: pipelines/validatePR.yml

fix: removes upper bound on System.Net.Http.WinHttpHandler
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml
