Repository microsoftgraph/msgraph-sdk-dotnet-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Path conditions:
  pipelines/previewBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/productionBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/validatePR.yml: any file but: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml

PR reveiw feedback
  src/Microsoft.Graph.Core/Requests/BatchRequestBuilder.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update productionBuild.yml for Azure Pipelines
  pipelines/productionBuild.yml
Due: none

Fix release pipeline
  pipelines/previewBuild.yml
Due: none

Fix url encoding
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Bump http library
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Fixes vulnerability
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Models/ITokenValidable.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Make the readonlysubstream seekable.
  src/Microsoft.Graph.Core/Helpers/ReadOnlySubStream.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Adds more tests
  src/Microsoft.Graph.Core/Helpers/ReadOnlySubStream.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Helpers/ReadOnlySubStreamTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Cleanup unneccessary stuff.
  src/Microsoft.Graph.Core/Helpers/ReadOnlySubStream.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Enahncements
  tests/Microsoft.Graph.DotnetCore.Core.Test/Helpers/ReadOnlySubStreamTests.cs
Due: pipelines/validatePR.yml

Fix incorrect checkin
  tests/Microsoft.Graph.DotnetCore.Core.Test/Helpers/ReadOnlySubStreamTests.cs
Due: pipelines/validatePR.yml

Add null checks to properties of ServiceException.cs in method IsMatch
  src/Microsoft.Graph.Core/Exceptions/ServiceException.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Add UnitTest for new Null Checks in ServiceExceptionTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Exceptions/ServiceExceptionTests.cs
Due: pipelines/validatePR.yml

Update version and add Release Notes
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Bumps version and release notes.
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/global.json
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Fix codeQl permissions
  .github/workflows/validatePullRequest.yml
Due: none

Remove unneeded PackageReference
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update release notes
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Cleanup release pipelines for core
  pipelines/previewBuild.yml
  pipelines/productionBuild.yml
  scripts/GetNugetPackageVersion.ps1
  scripts/ValidateUpdatedNugetVersion.ps1
Due: none

Use windows latests
  pipelines/productionBuild.yml
Due: none

Fix paths in deploy stage
  pipelines/productionBuild.yml
Due: none

Bump signing tasks
  pipelines/productionBuild.yml
Due: none

Update pipelines/productionBuild.yml
  pipelines/productionBuild.yml
Due: none

Bump versions for dependabot
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Cleanup
  .github/workflows/validatePullRequest.yml
  CHANGELOG.md
  README.md
  global.json
  pipelines/productionBuild.yml
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentCollection.cs
  src/Microsoft.Graph.Core/global.json
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Move to props folder
  Directory.Build.props
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Needs default value
  Directory.Build.props
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Fix additionalData changes
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/ResponseHandlerTests.cs
Due: pipelines/validatePR.yml

Bump version and changelog
  CHANGELOG.md
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Refactor tests
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
Due: pipelines/validatePR.yml

- updates code of conduct to the latest standard
  CODE_OF_CONDUCT.md
Due: pipelines/validatePR.yml

Bump abstractions packages
  CHANGELOG.md
  src/Microsoft.Graph.Core/Extensions/IDecryptableContentExtensions.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/AsyncMonitor.cs
  src/Microsoft.Graph.Core/Requests/DeltaResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/ResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadResponseHandler.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Bump http lib base
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Update needs-author-feedback label to replacement
  .github/policies/resourceManagement.yml
Due: none

Update needs-author-feedback label to replacement (#843)
  .github/policies/resourceManagement.yml
Due: none

Add project auto add workflow
  .github/workflows/project-auto-add.yml
Due: none

Add project auto add workflow (#844)
  .github/workflows/project-auto-add.yml
Due: none

chore: replaces project bot token task by official one
  .github/workflows/project-auto-add.yml
Due: none

remove label waiting for author feedback if issue closes
  .github/policies/resourceManagement.yml
Due: none

Chore: Add issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/01-sdk-bug.yml
  .github/ISSUE_TEMPLATE/02-sdk-feature-request.yml
  .github/ISSUE_TEMPLATE/03-blank-issue.md
  .github/ISSUE_TEMPLATE/config.yml
Due: none
