Repository microsoftgraph/msgraph-sdk-dotnet-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/previewBuild.yml, pipelines/validatePR.yml

Path conditions:
  pipelines/previewBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/validatePR.yml: any file but: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml

Minor cleanup
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
Due: pipelines/validatePR.yml

Use Mocking to replace handwritten mocks
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockUserEventsCollectionPage.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockUserEventsCollectionRequest.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/ITestEventDeltaCollectionPage.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/ITestEventDeltaRequest.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventDeltaCollectionPage.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventDeltaRequest.cs
Due: pipelines/validatePR.yml

Specify System.Net.Http version in .Net45
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix for derivedTypeConverter
  src/Microsoft.Graph.Core/Serialization/DerivedTypeConverter.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/DerivedTypeClass.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Make IBaseRequest Method settable
  src/Microsoft.Graph.Core/Requests/IBaseRequest.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Make IBaseRequest Method attribute settable
  src/Microsoft.Graph.Core/Requests/IBaseRequest.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix for url query parameter data encoding
  src/Microsoft.Graph.Core/Requests/BaseRequest.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/BaseRequestTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Use type assembly info in cache key
  src/Microsoft.Graph.Core/Serialization/DerivedTypeConverter.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestResourceData.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Remove newtonsoft reference in readme
  README.md
Due: none

Fix sending of headers
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

updates csproj
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Apply suggestions from code review
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

PR feedback changes
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
Due: pipelines/validatePR.yml

Include DOD cloud in GraphClientFactory cloud list
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix for null reference on error property in payload
  src/Microsoft.Graph.Core/Exceptions/Error.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Exceptions/ErrorTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Pr review feedback
  src/Microsoft.Graph.Core/Exceptions/Error.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Add support for accessing stream contents in batch requests.
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchResponseContentTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix using statements
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchResponseContentTests.cs
Due: pipelines/validatePR.yml

PR review feedback
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

updating conditional check on SendRetryAsync to be consistent with SendAsync and ensure response returns when retry count reaches max retry
  src/Microsoft.Graph.Core/Requests/Middleware/RetryHandler.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

update ShouldRetryBasedOnCustomShouldRetryDelegate to cover performing more than 1 retry; adds moq and queue implementation
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/RetryHandlerTests.cs
Due: pipelines/validatePR.yml

minor update to address typo in test fail message
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/RetryHandlerTests.cs
Due: pipelines/validatePR.yml

fix retryCount being removed as parameter due to copypaste from SendAsync; handling mixed newline for RetryHanlderTests file
  src/Microsoft.Graph.Core/Requests/Middleware/RetryHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/RetryHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

removing retryCount check that would suppress expected ServiceException throw; updating Test to cover exception occurring with expectation
  src/Microsoft.Graph.Core/Requests/Middleware/RetryHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/RetryHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Modify RetryHandler.SendRetryAsync Retry check logic and update RetryHandlerTest (#266)
  src/Microsoft.Graph.Core/Requests/Middleware/RetryHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/RetryHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix for potential deadlock in .Net framework clients
  src/Microsoft.Graph.Core/Requests/BaseRequest.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix compiler warnings and cleanup calls
  src/Microsoft.Graph.Core/Extensions/IDecryptableContentExtensions.cs
  src/Microsoft.Graph.Core/Extensions/IEncryptableSubscriptionExtensions.cs
  src/Microsoft.Graph.Core/Extensions/ITokenValidableExtension.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Models/IDecryptableContent.cs
  src/Microsoft.Graph.Core/Models/IEncryptableSubscription.cs
  src/Microsoft.Graph.Core/Models/IEncryptedContentBearer.cs
  src/Microsoft.Graph.Core/Models/ITokenValidable.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix compiler errors when used with service library
  src/Microsoft.Graph.Core/Extensions/ITokenValidableExtension.cs
  src/Microsoft.Graph.Core/Models/IEncryptedContentBearer.cs
  src/Microsoft.Graph.Core/Models/ITokenValidable.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Ensure certificate is only passed with public key
  src/Microsoft.Graph.Core/Extensions/IDecryptableContentExtensions.cs
  src/Microsoft.Graph.Core/Extensions/IEncryptableSubscriptionExtensions.cs
  src/Microsoft.Graph.Core/Extensions/ITokenValidableExtension.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix for potential deadlock in .Net framework clients (#270)
  src/Microsoft.Graph.Core/Requests/BaseRequest.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Adds unit test to validate encryption and certificate handling
  src/Microsoft.Graph.Core/Extensions/IDecryptableContentExtensions.cs
  src/Microsoft.Graph.Core/Extensions/IEncryptableSubscriptionExtensions.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Extensions/IDecryptableContentExtensionsTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestChangeNotificationEncryptedContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestChatMessage.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestSubscription.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

PR review feedback
  src/Microsoft.Graph.Core/Extensions/IDecryptableContentExtensions.cs
  src/Microsoft.Graph.Core/Extensions/ITokenValidableExtension.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

PR review feedback: Add defensive checks to public methods
  src/Microsoft.Graph.Core/Extensions/IDecryptableContentExtensions.cs
  src/Microsoft.Graph.Core/Extensions/IEncryptableSubscriptionExtensions.cs
  src/Microsoft.Graph.Core/Extensions/ITokenValidableExtension.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Rich notifications support (#269)
  src/Microsoft.Graph.Core/Extensions/IDecryptableContentExtensions.cs
  src/Microsoft.Graph.Core/Extensions/IEncryptableSubscriptionExtensions.cs
  src/Microsoft.Graph.Core/Extensions/ITokenValidableExtension.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Models/IDecryptableContent.cs
  src/Microsoft.Graph.Core/Models/IEncryptableSubscription.cs
  src/Microsoft.Graph.Core/Models/IEncryptedContentBearer.cs
  src/Microsoft.Graph.Core/Models/ITokenValidable.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Extensions/IDecryptableContentExtensionsTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestChangeNotificationEncryptedContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestChatMessage.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestSubscription.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

PR review feedback
  pipelines/validatePR.yml
  src/Microsoft.Graph.Core/Authentication/ScopedAuthenticationProviderOptions.cs
  src/Microsoft.Graph.Core/Authentication/TokenCredentialAuthProvider.cs
  src/Microsoft.Graph.Core/Authentication/TokenCredentials/IntegratedWindowsTokenCredential.cs
  src/Microsoft.Graph.Core/Extensions/BaseRequestExtensions.cs
  src/Microsoft.Graph.Core/Extensions/HttpRequestMessageExtensions.cs
  src/Microsoft.Graph.Core/Extensions/TokenCredentialExtensions.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  src/Microsoft.Graph.Core/Requests/DeltaResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/GraphResponse.cs
  src/Microsoft.Graph.Core/Requests/HttpProvider.cs
  src/Microsoft.Graph.Core/Requests/SimpleHttpProvider.cs
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Apply suggestions from code review
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Replace typeof(T).ToString() with nameof()
  src/Microsoft.Graph.Core/Extensions/BaseRequestExtensions.cs
  src/Microsoft.Graph.Core/Extensions/HttpRequestMessageExtensions.cs
  src/Microsoft.Graph.Core/Requests/BaseRequest.cs
  src/Microsoft.Graph.Core/Requests/Middleware/AuthenticationHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Extensions/BaseRequestExtensionsTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/HttpProviderTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/AuthenticationHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

- adds code owner configuration
  .github/CODEOWNERS
Due: none

Fix for interface conversion and issue due to upgrading to latest System.Text.Json.
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Serialization/DerivedTypeConverter.cs
  src/Microsoft.Graph.Core/Serialization/InterfaceConverter.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestUser.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Url decode nextLink url string.
  src/Microsoft.Graph.Core/Serialization/NextLinkConverter.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventDeltaCollectionResponse.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml
