Repository microsoftgraph/msgraph-sdk-dotnet-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

pipelines/previewBuild.yml:
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - task: UseDotNet@2
    displayName: Use .NET 6
    inputs:
      version: 6.x
  - task: PowerShell@2
    displayName: Set Java Home to use Java 11
    inputs:
      targetType: inline
  ...

pipelines/productionBuild.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-latest
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: build
        jobs:
  ...

pipelines/validatePR.yml:
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: PowerShell@2
    displayName: Validate updated version
  ...

ci: Change JDK distribution from adopt to temurin
  .github/workflows/sonarcloud.yml
Due: none

ci: Change JDK distribution from adopt to temurin (#1090)
  .github/workflows/sonarcloud.yml
Due: none

Assert the reflected property was found before reading it
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
Due: pipelines/validatePR.yml

feat: add CreateDefaultHandlers overload that forwards request options to Kiota handlers
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/project-auto-add.yml
  .github/workflows/release-please-gha.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/validatePullRequest.yml
Due: none

Path conditions:
  pipelines/previewBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/productionBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/validatePR.yml: any file but: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
