Repository microsoftgraph/msgraph-sdk-dotnet-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Path conditions:
  pipelines/previewBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/productionBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/validatePR.yml: any file but: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml

chore: upgrades MS identity model deps
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

feat: upgrades to kiota bundle to simplify dependencies management
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/BaseGraphRequestAdapter.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

chore: Label release job in pipeline to comply with 1ES
  pipelines/productionBuild.yml
Due: none

chore: bumps bundle to latest
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

fix: update kiota dependencies to expose the BodyInspectionHandler
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

resolve merge conflicts.
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

fix: fixes performance issue when using the `AddBatchRequestStepAsync` method due to the client trying to authenticate the request on conversion
  .github/workflows/validatePullRequest.yml
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

chore: bump the trimming project version
  tests/Microsoft.Graph.DotnetCore.Core.Trimming/Microsoft.Graph.DotnetCore.Core.Trimming.csproj
Due: pipelines/validatePR.yml

update project global file
  tests/Microsoft.Graph.DotnetCore.Core.Trimming/global.json
Due: pipelines/validatePR.yml

attempt to suppress warnings
  tests/Microsoft.Graph.DotnetCore.Core.Trimming/Microsoft.Graph.DotnetCore.Core.Trimming.csproj
Due: pipelines/validatePR.yml

chore: move around supression
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Trimming/Microsoft.Graph.DotnetCore.Core.Trimming.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

chore: fix broken test
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
Due: pipelines/validatePR.yml

ci: fix release pipeline dotnet version
  pipelines/productionBuild.yml
Due: none

fix: ensures valid handler is returned in browser scenarios
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

chore: fix imports
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

chore: add release-please gha
  .github/workflows/release-please-gha.yml
Due: none

chore: add release-please gha (#976)
  .github/workflows/release-please-gha.yml
Due: none

Preserving RequestId for NewBatchWithFailedRequests
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentCollection.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

feat: Added statusCodesToTreatAsSuccess (additive success set) to NewBatchWithFailedRequests
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContentCollection.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Added more test cases NewBatchWithFailedRequests
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
Due: pipelines/validatePR.yml

feat: standardize dotnet targets
  .github/workflows/validatePullRequest.yml
  global.json
  pipelines/productionBuild.yml
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentStepsTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/LargeFileUploadTaskTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Trimming/Microsoft.Graph.DotnetCore.Core.Trimming.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Improve exception messages in LargeFileUploadTask
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

Bump Microsoft.Graph.Core package reference versions
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

update analyzers in tests
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
Due: pipelines/validatePR.yml

correct version
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

correct versions
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

bump xunit.runner and jdk test version
  .github/workflows/validatePullRequest.yml
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
Due: pipelines/validatePR.yml

jdk version 16
  .github/workflows/validatePullRequest.yml
Due: none

reset to jdk 11
  .github/workflows/validatePullRequest.yml
Due: none

bump actions versions
  .github/workflows/release-please-gha.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/validatePullRequest.yml
Due: none

increase to net8 at directory.build
  Directory.Build.props
Due: pipelines/validatePR.yml

revert analyzers
  Directory.Build.props
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
Due: pipelines/previewBuild.yml, pipelines/productionBuild.yml, pipelines/validatePR.yml

enable merge groups, change auto-merge strategy
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/validatePullRequest.yml
Due: none

verify Android SDK Api31 is installed in validation
  .github/workflows/validatePullRequest.yml
Due: none

remove actions setup java
  .github/workflows/validatePullRequest.yml
Due: none

install android api 31
  .github/workflows/validatePullRequest.yml
Due: none

jdk 17 at setpup jdk step
  .github/workflows/validatePullRequest.yml
Due: none

add android action
  .github/workflows/validatePullRequest.yml
Due: none

try version 17 jdk
  .github/workflows/validatePullRequest.yml
Due: none

switch back to jdk 11 for android targets build
  .github/workflows/validatePullRequest.yml
Due: none
