Repository microsoftgraph/msgraph-sdk-dotnet-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/previewBuild.yml, pipelines/validatePR.yml

Path conditions:
  pipelines/previewBuild.yml: any of: src, but not: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml
  pipelines/validatePR.yml: any file but: .github, build, docs, pipelines, scripts, .gitignore, CONTRIBUTING.md, LICENSE.txt, Microsoft.Graph.Core.sln, README.md, THIRD PARTY NOTICES, appveyor.yml

Update dependabot to check private microsoft registry
  .github/dependabot.yml
Due: none

Add codeQl analysis and target branch
  .github/dependabot.yml
  .github/workflows/validatePullRequest.yml
  tests/Microsoft.Graph.DotnetCore.Core.Test/Extensions/IDecryptableContentExtensionsTests.cs
Due: pipelines/validatePR.yml

Fix for batch content response bugs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchResponseContentTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Merge pull request #369 from microsoftgraph/andrueastman/BatchContentBugs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchResponseContentTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Merge pull request #363 from mvarblow/dev
  src/Microsoft.Graph.Core/Extensions/HttpRequestMessageExtensions.cs
  src/Microsoft.Graph.Core/Extensions/IDecryptableContentExtensions.cs
  src/Microsoft.Graph.Core/Extensions/ITokenValidableExtension.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  src/Microsoft.Graph.Core/Requests/DeltaResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/GraphResponse{T}.cs
  src/Microsoft.Graph.Core/Requests/ResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadSessionRequestBuilder.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadSliceRequestBuilder.cs
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Update package versions
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/BaseClient.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Update version
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix broken tests
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
Due: pipelines/validatePR.yml

Configure dependabot for feature/3.0 branch
  .github/dependabot.yml
Due: none

Updates version
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Adds task to install dependencies
  pipelines/validatePR.yml
Due: none

Update to latest kiota deps
  .github/workflows/validatePullRequest.yml
  src/Microsoft.Graph.Core/Exceptions/Error.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorDetail.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorResponse.cs
  src/Microsoft.Graph.Core/Extensions/IDecryptableContentExtensions.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Models/UploadSession.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchResponseContent.cs
  src/Microsoft.Graph.Core/Requests/DeltaResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/GraphResponse{T}.cs
  src/Microsoft.Graph.Core/Requests/ResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadResponseHandler.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadSliceRequestBuilder.cs
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Exceptions/ErrorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/AsyncMonitorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Serialization/SerializerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/AbstractClass.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/AbstractEntityType.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/DateTestClass.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/DerivedTypeClass.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestAttendee.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestChatMessage.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestDateTimeTimeZone.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEmailAddress.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEvent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventDeltaCollectionResponse.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventItem.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventsResponse.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestItemBody.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestNotebook.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestRecipient.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestResourceData.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestSubscription.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestUser.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Updates for Iparsable split
  src/Microsoft.Graph.Core/Exceptions/Error.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorDetail.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorResponse.cs
  src/Microsoft.Graph.Core/Exceptions/ServiceException.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Models/AsyncOperationStatus.cs
  src/Microsoft.Graph.Core/Models/IUploadSession.cs
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Microsoft.Graph.DotnetCore.Core.Test.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/AbstractEntityType.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ClassWithJson.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/DerivedTypeClass.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestAttendee.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestChangeNotificationEncryptedContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestChatMessage.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestDateTimeTimeZone.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestDrive.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestDriveItem.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEmailAddress.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEvent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventDeltaCollectionResponse.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventItem.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventsResponse.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestItemBody.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestNotebook.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestRecipient.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestResourceData.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestSubscription.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestUser.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Adds IbaseClient for extensibility
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/AsyncMonitor.cs
  src/Microsoft.Graph.Core/Requests/BaseClient.cs
  src/Microsoft.Graph.Core/Requests/Content/BatchRequestContent.cs
  src/Microsoft.Graph.Core/Requests/IBaseClient.cs
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/BatchRequestBuilderTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Content/BatchRequestContentTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/RequestTestBase.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Upload/UploadSliceRequestTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Make class internal
  src/Microsoft.Graph.Core/Requests/BaseClient.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/BaseClientTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Use nuget dependencies
  .github/dependabot.yml
  .github/workflows/validatePullRequest.yml
  scripts/UpdateNugetCredentials.ps1
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Update release notes
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Update references
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Upgrade Kiota packages
  src/Microsoft.Graph.Core/Exceptions/Error.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorDetail.cs
  src/Microsoft.Graph.Core/Exceptions/ErrorResponse.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Models/AsyncOperationStatus.cs
  src/Microsoft.Graph.Core/Models/UploadSession.cs
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/AbstractEntityType.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/DateTestClass.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/DerivedTypeClass.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestAttendee.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestChangeNotificationEncryptedContent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestChatMessage.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestDateTimeTimeZone.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestDrive.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestDriveItem.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEmailAddress.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEvent.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventDeltaCollectionResponse.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventItem.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventsResponse.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestItemBody.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestNotebook.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestRecipient.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestResourceData.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestSubscription.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestUser.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Bump package versions
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Drop odataQueryHandler
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
  src/Microsoft.Graph.Core/Requests/Middleware/OdataQueryHandler.cs
  src/Microsoft.Graph.Core/Requests/Middleware/Options/ODataQueryHandlerOption.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/OdataQueryHandlerTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/TelemetryHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

PR review comments
  src/Microsoft.Graph.Core/Requests/GraphClientFactory.cs
  src/Microsoft.Graph.Core/Requests/Middleware/GraphTelemetryHandler.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/GraphClientFactoryTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

- updates kiota packages references
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Target netstandard2.0
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/IBaseClient.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Request config revamp support
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

remove SetupAllProperties calls
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockAuthenticationProvider.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockHttpProvider.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockTokenCredential.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/AsyncMonitorTests.cs
Due: pipelines/validatePR.yml

Updates version and documentation to align to kiota based SDKs
  README.md
  docs/collections.md
  docs/headers.md
  docs/logging-requests.md
  docs/overview.md
  docs/readme.md
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockAuthenticationProvider.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix failing moq tests
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockAuthenticationProvider.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Mocks/MockTokenCredential.cs
Due: pipelines/validatePR.yml

Add dependency needed
  tests/Microsoft.Graph.Core.XamarinAndroid.Test/Microsoft.Graph.Core.XamarinAndroid.Test.csproj
Due: pipelines/validatePR.yml

Update version and release notes
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  tests/Microsoft.Graph.Core.XamarinAndroid.Test/Resources/Resource.designer.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Performance improvements
  src/Microsoft.Graph.Core/Extensions/BaseRequestExtensions.cs
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Serialization/DerivedTypeConverter.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Update interface
  src/Microsoft.Graph.Core/Extensions/BaseRequestExtensions.cs
  src/Microsoft.Graph.Core/Requests/IBaseRequest.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fix null reference exception
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventsDeltaResponse.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Support for async callback in the PageIterator
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Fixes dependency
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

LargeFileUpload fixes
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/BaseClient.cs
  src/Microsoft.Graph.Core/Tasks/LargeFileUploadTask.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/BatchRequestBuilderTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Upload/UploadSliceRequestTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/LargeFileUploadTaskTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Bug fixes for incorrect headers
  src/Microsoft.Graph.Core/Requests/Middleware/AuthenticationHandler.cs
  src/Microsoft.Graph.Core/Requests/Upload/UploadSliceRequest.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Requests/Middleware/AuthenticationHandlerTests.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Use updated nextLink property
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Tasks/PageIterator.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/Tasks/PageIteratorTests.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventDeltaCollectionResponse.cs
  tests/Microsoft.Graph.DotnetCore.Core.Test/TestModels/ServiceModels/TestEventsResponse.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml

Updates version and PR review feedback
  src/Microsoft.Graph.Core/Microsoft.Graph.Core.csproj
  src/Microsoft.Graph.Core/Requests/Middleware/AuthenticationHandler.cs
Due: pipelines/previewBuild.yml, pipelines/validatePR.yml
